<div class="col-sm-4 col-md-4 col-4">
    <div class="card-mb-3">
        <img src="" alt="" class="card-img-top img-fluid">
        <div class="card-body">
            <h5 class="card-title mb-3">Başlık</h5>
            <hr>
            <div class="text-dark d-block fw-bolder mb-3">
                <a href=""></a>
            </div>
            <div class="card-text d-block">
                <p>short description</p>
            </div>
            <h6 class="text-primary">productprice</h6>
            <div class="col">
                <a href="" asp-controller="Home" asp-action="Detail" asp-route-id="Id" class="btn btn-primary d-block btn-sm"></a>
            </div>
        </div>
    </div>
</div>