@{
    ViewData["Title"] = "Create Product";
}
@model CreateProductViewModel
<div class="container">
<h2 class="text-center">Create Product</h2>
    <div class="d-block my-2">
        <a class="btn btn-primary float-end" asp-action="CreateReservation">Create New Reservation</a>

    </div>
<form method="post" asp-action="CreateProduct">
    <div class="mb-3">
        <label asp-for="Name" class="form-label"></label>
        <input type="text" class="form-control" asp-for="Name">
        <span asp-validation-for="Name" class="danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Description" class="form-label"></label>
        <input type="text" class="form-control" asp-for="Description">
        <span asp-validation-for="Description" class="danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Price" class="form-label"></label>
        <input type="text" class="form-control" asp-for="Price">
        <span asp-validation-for="Price" class="danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="PictureUrl" class="form-label"></label>
        <input type="text" class="form-control" asp-for="PictureUrl">
        <span asp-validation-for="Name" class="danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

<a class="text-primary" asp-action="Index">Cancel and return to the product list</a>

</div>