@{
    ViewData["Title"] = "Update";
}
@model UpdateProductViewModel

<div class="container">

<h2 class="text-center">Update Product</h2>

    <form method="post" asp-controller="Product" asp-action="Update">
    <div class="mb-3">
        <label asp-for="Name" class="form-label"></label>
        <input type="text" class="form-control" asp-for="Name">
        <span asp-validation-for="Name" class="danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Description" class="form-label"></label>
        <input type="text" class="form-control" asp-for="Description">
        <span asp-validation-for="Description" class="danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Price" class="form-label"></label>
        <input type="text" class="form-control" asp-for="Price">
        <span asp-validation-for="Price" class="danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="PictureUrl" class="form-label"></label>
        <input type="text" class="form-control" asp-for="PictureUrl">
        <span asp-validation-for="Name" class="danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">güncelle</button>
</form>

    <a class="text-primary" asp-controller="Product" asp-action="Details" asp-route-id="@Model.Id"> Güncellemeyi iptal et ve ürün bilgilerine geri dön.</a>
</div>