@using eniyisinerede.webui.ViewModels.Places
@{
    ViewData["Title"] = "Update Reservation";
}
@model UpdateReservationViewModel

<div class="container">
    <div class="row col-md-8 offset-2">
        <div class="col">
            <h2 class="text-center">Update Reservation</h2>
            <form method="post" asp-controller="Reservation" asp-action="Update">
                <div asp-validation-summary="All" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="mb-3">
                    <select asp-for="PlaceId" asp-items="ViewBag.Places" class="form-control">
                        <option value="">Select an option</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label asp-for="Notes" class="form-label"></label>
                    <input type="text" class="form-control" asp-for="Notes">
                    <span asp-validation-for="Notes" class="danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="DateAndTime" class="form-label"></label>
                    <input type="date" class="form-control" asp-for="DateAndTime">
                    <span asp-validation-for="DateAndTime" class="danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="NumberOfPerson" class="form-label"></label>
                    <input type="number" class="form-control" asp-for="NumberOfPerson">
                    <span asp-validation-for="NumberOfPerson" class="danger"></span>
                </div>
                <button type="submit" class="btn btn-primary">Update</button>
            </form>
        
        </div>
    </div>
    <a class="text-primary" asp-controller="Reservation" asp-action="Details" asp-route-id="@Model.Id">Güncellemeyi iptal et ve rezervasyon detaylarına dön</a>
</div>

