@{
    ViewData["Title"] = "Details";
}
@model DistrictViewModel

<div class="container">
    <div class="card">
        <div class="card-header">
            <h5 class="card-title"> Name : @Model.Name</h5>
            <p class="card-text"> Zip Code : @Model.ZipCode</p>
            <p class="text-primary"> City Name : @ViewBag.City.Name</p>
            <a class="btn btn-primary" asp-controller="District" asp-action="Update"
                asp-route-id="@Model.Id">Güncelle</a>

        </div>
    </div>
    <a class="text-primary" asp-controller="District" asp-action="Index">Geri dön ve tümünü görüntüle</a>

</div>