@{
    ViewData["Title"] = "Update District";
}
@model UpdateDistrictViewModel

<div class="container">
    <h2 class="text-center">Update District</h2>
    <div class="alert alert-danger" asp-validation-summary="ModelOnly"></div>
    <form method="post" asp-controller="District" asp-action="Update">
        <input type="hidden" asp-for="Id" />
        <div class="mb-3">
            <select asp-for="CityId" asp-items="ViewBag.Cities" class="form-control">
                <option value="">Select an option</option>
            </select>
            <span asp-validation-for="CityId" class="danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Name" class="form-label"></label>
            <input type="text" class="form-control" asp-for="Name">
            <span asp-validation-for="Name" class="danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="ZipCode" class="form-label"></label>
            <input type="text" class="form-control" asp-for="ZipCode">
            <span asp-validation-for="ZipCode" class="danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">Update</button>
    </form>

    <a asp-controller="District" asp-action="Index" class="text-primary">Back to List</a>
</div>